@import "./theme.css";

.submitButton {
    background-color: var(--main-color);
    border: none;
    color: var(--text-color);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    width: 80%;
    margin: 30px auto;
    height: 40px;
}

.submitButton:hover {
    background-color: var(--background-color);
    box-shadow: 0 5px 5px 0 var(--elight-color), 0 7px 5px 0 var(--ulight-color);
}
.inputuser {
    height: 40px;
    background-color: var(--ulight-color);
    border-width: 0;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 15px;
    width: 75%;
}

.title {
    padding : 50px;
    color: var(--main-color);
    user-select: none;
}

.fullText {
    font-size: 15px;
    user-select: none;
}

.fullBody {
    background-image: radial-gradient(var(--elight-color), var(--main-color));
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.Login {
    margin: auto;
    width: 400px;
    padding: 10px;
    text-align: center;
    background-color: var(--login-bg);
    border-radius: 20px;
    margin-top: 200px;
    box-shadow: 10px 10px 150px 16px var(--main-color), 0px 0px 13px 3px var(--elight-color);
}